[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-rest-swagger = "*"
django-debug-toolbar = "*"
django-graphiql-debug-toolbar = "*"
django = "*"
faker = "*"
coverage = "*"
pytest-django = "*"
pytest = "*"
pytest-cov = "*"

[packages]
django = "*"
django-rest-auth = "*"
django-allauth = "*"
graphene-django = "*"
graphene = "*"
django-filter = "*"
rq = "*"
django-rq = "*"
rq-scheduler = "*"
django-cors-headers = "*"
influxdb = "*"
sentry-sdk = "==0.12.2"

[requires]
python_version = "3.7"

[scripts]
server = "python manage.py runserver"
tests = "python manage.py test"
