[run]
 branch = True
 source = .
 omit =
     */environment/*
     */migrations/*,
     *settings*,
     *tests/*,
     *wsgi/*,
     *wsgi.py,
     *rq_test.py,
     */gql_web_learning/*
     */management/*
     manage.py