.content__header_courses {
    height: auto;
    padding: 50px 10px;
    width: 100%;
    flex-grow: 1;
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(45deg, #cdb8e3, #bfd5e3);
}

.content__block_courses {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.course_wrapper {
    display: flex;
}

.course_wrapper_full {
    width: 100%;
    background: linear-gradient(45deg, white, #bfd5e3);
}

.course_additional_info {
    flex-grow: 1;
    text-align: right;
    align-self: center;
    border-left: 1px solid white;
    padding: 10px;
}

.course {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex-basis: 350px;
    max-width: 400px;
    flex-grow: 1;
}

.course_hover {
    background-color: #bfd5e3;
    transition: all .4s linear;
}

.hidden {
    display: none
}

.show {
    display: block
}