* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
/*    min-height: 100vh; */
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #bfd5e3;
    justify-content: space-between;
}

.navigation {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}

.navigation__button {
    position: relative;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    background-color: #90b8d1;
    color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.navigation__link {
    text-decoration: none;
    color: #fff;
}

.button--active {
    background: #0884d1;
	color: #fff;
}

.navigation__button:hover {
    color: #fff;
    background: #0884d1;
    transition: all .3s linear;
}

.navigation__sub-menu {
    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    top: 42px;
    left: 0px;
    list-style: none;
    z-index: 10;
    display: none;
}

.navigation__button:hover .navigation__sub-menu {
  display: block;
}

.header__logo {
    display: block;
    min-width: 15%;
}

.header__logo img {
    max-width: 80px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: left;
    padding: 5px;

}

.search__input {
    flex-grow: 1;
    min-width: 50px;
    padding:4px 5px;
    border:1px solid #ccc;
    background:white;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.search__button {
    flex-shrink: 0;
    padding:5px 10px;
    margin: 5px 0;
    font-weight:bold;
    color:#333;
    background:white;
    border:none;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow:0 1px 1px white;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.content-left-wrapper {
    flex-basis: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content__block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content__header {
    padding: 10px;
    width: 100%;
    flex-grow: 1;
    font-size: 28px;
    font-weight: bold;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}

.course {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex-basis: 300px;
    max-width: 400px;
    flex-grow: 1;
}

.course-meta {
    display: flex;
}

.course-img {
    max-width: 100px;
    margin: 10px 0;
}

.course-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.course-figure {
    text-align: center;
    padding-bottom: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.course-figure p {
    text-align: left;
}

.course-info-button {
    display: block;
    margin-top: auto;
    flex-shrink: 0;
    padding:5px 10px;
    text-align: center;
    font-size: 0.8em;
    font-weight:bold;
    color:#333;
    background:white;
    border:none;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow:0 1px 1px white;
    cursor: pointer;
    text-decoration: none;
}

.feedback__block {
    display: flex;
    flex-wrap: wrap;

}

.review {
    vertical-align: top;
    background-color: #fff;
    display: inline-block;
    padding: 1%;
}

.review__blockquote {
    margin: 0;
    color: #231E28;
    padding: 10px 40px;
    border-left: 8px solid #CBDDE7;
    position: relative;
    background: #FAF8EB;
    font-weight: 300;
}

.review__blockquote:before{
    content: "\201C";
    color: #CBDDE7;
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 0;
}

.review__blockquote_content {
    font-style: italic;
    margin-top: 0;
}

.review__blockquote_footer {
    font-style: italic;
    margin-top: 0;
    text-align: right;
}

.content-right-wrapper {
    flex-basis: 15%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(191, 213, 227, 0.5);
    margin-top: 20px;
    margin-bottom: auto;
}

.company {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;

}

.company-logo img {
    max-width: 60px;

}


.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    background-color: #bfd5e3;
}