.feedback__block {
  display: flex;
  flex-wrap: wrap;
}
.review {
  vertical-align: top;
  background-color: white;
  display: inline-block;
  padding: 1%;
}
.review__blockquote {
  margin: 0;
  color: #333333;
  padding: 10px 40px;
  border-left: 8px solid #bfd5e3;
  position: relative;
  background: #faf7f4;
}
.review__blockquote:before {
  content: "\201C";
  color: #bfd5e3;
  font-size: 48px;
  position: absolute;
  left: 10px;
  top: 0;
}
.review__blockquote_content {
  font-style: italic;
  margin-top: 0;
}
.review__blockquote_footer {
  font-style: italic;
  margin-top: 0;
  text-align: right;
}
.content-left-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  flex-grow: 1;
}
.content-right-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 15%;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  background-color: #bfd5e3;
  margin-top: 20px;
  margin-bottom: auto;
}
.company {
  display: flex;
  max-width: 200px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.company-logo img {
  max-width: 60px;
}
