@import "library";
@import (css) url(http://fonts.googleapis.com/css?family=Open+Sans&);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: @font-size-main;
}

.body-wrapper {
    .flex-column;
}

.header {
    .flex-wrap;
    background-color: @base_color;
    justify-content: space-between;

    &__logo {
        display: block;
        min-width: 15%;
    }
    
    &__logo img {
        max-width: 80px;
    }

    &__right-wrapper {
        .flex-column;  
    }
}

.search {
    .flex-wrap;
    justify-content: flex-end;
    text-align: left;
    padding: 5px;

    &__input {
        flex-grow: 1;
        min-width: 50px;
        padding:4px 5px;
        border:1px solid #ccc;
        background:white;
        box-shadow:inset 0 1px 2px @black-shadow-light;
    }

    &__button {
        flex-shrink: 0;
        padding:5px 10px;
        margin: 5px 0;
        font-weight:bold;
        color:#333;
        background:white;
        border:none;
        background-image: @gradient-gray;
        box-shadow: @gray-button-shadow;
        text-shadow:0 1px 1px white;
        cursor: pointer;
    }
}

.register-login {
    .non-decorated-gray-link;
    text-align: right;
    padding: 5px;

    img {
        max-width: 20px;
    }
}

.navigation {
    .flex-wrap;
    position: relative;
    flex-grow: 1;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;

    &__button {
        position: relative;
        flex-grow: 1;
        padding: 10px;
        text-align: center;
        background-color: @dark_base_color;
        color: white;
        box-shadow: @gray-button-shadow;
    }

    &__link {
        .non-decorated-white-link;
    }

    .button--active {
        background: @darkest_base_color;
        color: white;
    }

    &__button:hover {
        color: white;
        background: @darkest_base_color;
        transition: all .3s linear;
    }

    &__sub-menu {
        .flex-wrap;
        position: absolute;
        flex-grow: 1;
        justify-content: space-around;
        align-items: flex-end;
        width: 100%;
        top: 39px;
        left: 0px;
        list-style: none;
        z-index: 10;
        display: none;
    }

    &__button:hover &__sub-menu {
    display: block;
    }
}


.content {
    .flex-column;

    margin-bottom: 40px;

    &__two-columns {
        flex-direction: row;
    }

    &__block {
        .flex-column;
        flex-grow: 1;
    }

    &__header {
        padding: 10px;
        width: 100%;
        flex-grow: 1;
        font-size: @font-size-headers;
        font-weight: bold;

        &_gradient {
            padding: 10px 10px;
            align-self: stretch;
            font-size: @font-size-headers;
            font-weight: bold;
            background: linear-gradient(45deg, @violet, @base_color);

        @media @desktop {
                padding: 50px 10px;
            }
        }
    }
}

.courses {
    .flex-wrap;
    justify-content: space-around;
    flex-grow: 1;
}

.course {
    .flex-column;
    margin: 10px;
    padding: 10px;
    flex-basis: 300px;
    max-width: 400px;
    flex-grow: 1;

    &-meta {
        display: flex;
    }

    &-img {
        max-width: 100px;
        margin: 10px 0;
    }

    &-content {
        .flex-column;
        flex-grow: 1;
        
    }

    &-figure {
        text-align: center;
        padding-bottom: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }

    &-figure p {
        text-align: left;
    }

    &-info-button {
        .non-decorated-gray-link;
        display: block;
        margin-top: auto;
        flex-shrink: 0;
        padding:5px 10px;
        text-align: center;
        font-size: 0.8em;
        font-weight:bold;
        background:white;
        border:none;
        background-image: @gradient-gray;
        box-shadow: @gray-button-shadow;
        text-shadow:0 1px 1px white;
        cursor: pointer;
    }
}

.footer-wrapper {
    .flex-column;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px 0 10px 0;
    background-color: @base_color;
}